.background {
    background-image: url(../../images/modern/modernDarkBackground.jpg);
}

#lightSwitch {
    color: black
}

#lightSwitch:before {
    content: "";
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to left, rgb(72, 0, 255), rgb(157, 0, 255));
}

#lightSwitch:hover::before {
    content: "";
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to right, rgb(191, 0, 255), rgb(93, 0, 255));
}

#lightSwitch:active::before {
    content: "";
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to right, rgb(217, 0, 255), rgb(119, 0, 255));
}

#backToTop {
    position: fixed;
    text-align: center;
    font-size: xxx-large;
    background: linear-gradient(to top, rgb(111, 0, 255), rgb(0, 251, 255));
    background-clip: text;
    color: transparent;
}

#backToTop:hover {
    background: linear-gradient(to bottom, rgb(217, 0, 255), rgb(0, 153, 255));
    background-clip: text;
    color: transparent;
}

#backToTop:active {
    background: linear-gradient(to bottom, rgb(255, 0, 234), rgb(0, 21, 255));
    background-clip: text;
    color: transparent;
}

.middleBody {
    /* background: rgba(92, 92, 92, 0.593); */
    background: linear-gradient(to top, rgba(0, 255, 242, 0.392), rgba(183, 0, 255, 0.392));
    border-radius: 35px;
}

.siteButton {
    background: linear-gradient(to left, rgb(187, 0, 255), rgb(93, 0, 255));
    border: solid black 2px;
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.siteButton:hover {
    background: linear-gradient(to left, rgb(217, 0, 255), rgb(102, 0, 255));
    border: solid black 2px;
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
}

.activeSiteButton:hover {
    background: linear-gradient(to left, rgb(255, 0, 144), rgb(132, 0, 255));
}

.activeSiteButton:active {
    background: linear-gradient(to left, rgb(255, 0, 187), rgb(144, 0, 255));
}

.siteButton:active, .activeSiteButton {
    background: linear-gradient(to left, rgb(255, 0, 234), rgb(119, 0, 255));
    border: solid black 2px;
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

header {
    background: linear-gradient(to bottom, rgba(0, 166, 255, 0.784), rgba(123, 0, 255, 0.422), rgba(0,0,0,0));
}

.menuItem {
    background: linear-gradient(to left, rgba(255, 0, 234, 0.25), rgb(93, 0, 255),rgba(0, 225, 255, 0.25));
    border-radius: 10px;
    border: 20px black;
}

.menuItem:hover {
    background: linear-gradient(to left, rgba(255, 0, 119, 0.25), rgb(119, 0, 255), rgba(0, 123, 255, 0.25));
    border: 20px black;
}

.menuItem:active,
.activeMenuItem {
    background: linear-gradient(to left, rgba(255, 0, 55, 0.25), rgb(157, 0, 255), rgba(0, 30, 255, 0.25));
    border-radius: 10px;
    border: 20px black;
}