.background {
    background-image: url(../../images/modern/modernBrightBackground.jpg);
}

#lightSwitch {
    color: black
}

#lightSwitch:before {
    content: "";
    border-radius: inherit;
    background: linear-gradient(to left, rgb(206, 0, 28), rgb(237, 0, 225));
}

#lightSwitch:hover::before {
    content: "";
    border-radius: inherit;
    background: linear-gradient(to left, rgb(243, 0, 32), rgb(255, 0, 242));
}

#lightSwitch:active::before {
    content: "";
    border-radius: inherit;
    background: linear-gradient(to left, rgb(255, 0, 34), rgb(238, 0, 255));
}

#backToTop {
    background: linear-gradient(to top, rgb(206, 0, 28), rgb(237, 0, 225));
    background-clip: text;
    color: transparent;
}

#backToTop:hover {
    background: linear-gradient(to top, rgb(243, 0, 32), rgb(255, 0, 242));
    background-clip: text;
    color: transparent;
}

#backToTop:active {
    background: linear-gradient(to top, rgb(255, 0, 34), rgb(238, 0, 255));
    background-clip: text;
    color: transparent;
}

.middleBody {
    /* background: rgba(92, 92, 92, 0.593); */
    background: rgba(145, 59, 59, 0.482);
    border-radius: 35px;
}

.siteButton {
    background: linear-gradient(to left, rgb(255, 77, 0), rgb(255, 0, 119));
    border: solid black 2px;
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.siteButton:hover, .activeSiteButton {
    background: linear-gradient(to left, rgb(255, 0, 0), rgb(255, 0, 234));
    border: solid black 2px;
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.activeSiteButton:hover {
    background: linear-gradient(to left, rgb(255, 0, 11), rgb(241, 0, 205));
}

.siteButton:active, .activeSiteButton:active {
    background: linear-gradient(to left, rgb(255, 0, 21), rgb(226, 0, 218));
    border: solid black 2px;
    margin: 2px;
    border-radius: 10px;
    padding: 10px;
}

header {
    background: linear-gradient(to bottom, rgba(255, 0, 255, 0.784), rgba(255, 94, 0, 0.422), rgba(0, 0, 0, 0));
}

.menuItem {
    background: linear-gradient(to left, rgba(255, 0, 234, 0.514), rgb(255, 0, 85), rgba(255, 102, 0, 0.506));
    border-radius: 10px;
    border: 20px black;
}

.menuItem:hover {
    background: linear-gradient(to left, rgba(255, 0, 234, 0.644), rgb(255, 0, 85), rgba(255, 102, 0, 0.708));
    border: 20px black;
}

.menuItem:active,
.activeMenuItem {
    background: linear-gradient(to left, rgba(255, 0, 234, 0.797), rgb(255, 0, 85), rgba(255, 102, 0, 0.793));
    border-radius: 10px;
    border: 20px black;
}